<nav class="navbar navbar-expand-lg navbar-light flex-row overflow-hidden">
    <div class="container-fluid flex-row">
        <button type="button" class="btn btn-link px-1 lh-1">
            <img src="/images/static/logo.png" style="width: 100px" />
        </button>
        <div id="navbarSupportedContent" class="d-flex flex-grow-1">
            <ul class="navbar-nav d-flex flex-row align-items-center my-auto ms-auto mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link h6 mb-0 px-2 mx-1 text-dark fw-bold" href="/">홈</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h6 mb-0 px-2 mx-1 text-dark fw-bold" href="/notices/category">공지</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h6 mb-0 px-2 mx-1 text-dark fw-bold" href="/registration">참가접수</a>
                </li>
                <%# non-logged users on Home screen %>
                <% if (typeof security === "object" && !security.uuid) { %>
                <li class="nav-item">
                    <a class="nav-link h6 mb-0 px-2 mx-1 text-dark fw-bold" href="/accounts/login">로그인</a>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>