<nav class="navbar navbar-expand-lg navbar-light flex-row overflow-hidden">
    <div class="container-fluid flex-row">
        <a class="navbar-brand fs-2 fw-bold px-2 mx-1 lh-1" href="#"><%- headerTitle %></a>
        <div id="navbarSupportedContent" class="d-flex flex-grow-1">
            <ul class="navbar-nav d-flex flex-row align-items-center my-auto ms-auto mb-lg-0">
                <li class="nav-item ms-2">
                    <button type="button" class="btn btn-link px-1 lh-1 ms-1" onclick="<%= referrer ? 'location.href=`${referrer}`' : 'window.history.back();' %>">
                        <span class="material-icons-round display-5 mb-0 text-dark">close
                        </span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>