<!-- Floating Action Button -->
<% 
const checkLoggedIn = locals.title == "홈" && locals.security && locals.security.hasOwnProperty('uuid')
%>
<a href="https://pf.kakao.com/_xaHtXxl" class="btn-fab <%= checkLoggedIn ? "logged-in" : "" %>" target="_blank"></a>
<!-- /END Floating Action Button -->