<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리다이렉트</title>
</head>

<body>
    <script>
        window.alert('<%= locals.message %>');
        history.go(-1);
    </script>
</body>

</html>