<meta charset="UTF-8" />
<meta name="Referrer" content="origin" />
<meta name="referrer" contents="always" />
<meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
<meta name="description" content="KSEF 모바일에서 다양한 정보를 만나 보세요" />
<meta name="author" content="magnae2016 <magnae2016@gmail.com>" />
<meta name="theme-color" content="default" />
<meta name="msapplication-navbutton-color" content="default" />
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="application-name" content="KSEF">
<meta name="apple-mobile-web-app-title" content="KSEF">
<meta content="yes" name="apple-touch-fullscreen" />
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
<title>
    <%= title %> · KSEF
</title>